body{
    background-color: black;;
    color: #999999;
   
    font-family: "Quicksand", sans-serif;
        font-size: 32px;
}

.card{
    display: flex;
    justify-content: space-around;
   
    color: #32bee999;
    background-color: #111111;
}

.card:nth-child(2n){
    background-color: #1d1d1d
}

input[type ='text'],input[type ='number']{
    border: solid 4.2px #3d9deb;
   background-color: #0aebcd;

    font-family: "Quicksand", sans-serif;
    font-size: 32px;
  
}

button{
    background-color: rgb(127, 193, 255);
    
    font-family: "Quicksand", sans-serif;
    font-size: 25px;

    padding: 2px 4px;
}