
body{
  
        background-color: rgb(0, 0, 0);
    }
    .card{  
        align-items: center;
        display: flex;
        flex-direction: row;
        padding: 10px;/*distancia da borda para o conteudo interno*/
        margin-bottom: 5px;
        background-color: #313031;
        width: 75%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 5px;
    }
    
    .info{
        
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        width: 57%;
        gap: 6px;

    }
    
    .poster{

        width: 100px;
        aspect-ratio: 1;
        object-fit:cover;
        margin: 10px;
        border-radius: 20px;
    }
    
    
    .titulo{

        font-size: 25px;/*tamanho da letra*/
        font-weight: 700;/*espessura*/
        color: #ffffff;
       

    }
    
    
    .artista{       

        font-size: 20px ;
        
        color: #838282;
        

    }

    .album{

        color: #a19c9c;
        font-size: 19px;
        font-weight: 600;
        padding-top: 60px;
       
        
    }

    .video{

         width: 250px;
         height: 150px;
         padding: 100px;
        align-items:center;




    }